<!DOCTYPE html>
<html lang="en">

<head>
    <!-- setup meta -->
	<meta charset="utf-8">
	<meta name='viewport' content="width=width-device, initial-scale=1">
	<!-- stylesheets -->
    <title><% if (typeof(pageDetails)!='undefined'){%><%= pageDetails.name %><% }else{ %>Sherlock Holmes<% } %></title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/universal.css">
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>

</head>

<body>