<% include ./partials/header %>


    <link rel="stylesheet" type="text/css" href="/stylesheets/clues.css">

    <div class="container">
        <div class="spacer"></div>
        <br>
        <a href="/">
            <div class="eventTag primaryHead">Sherlock Holmes</div>
        </a>
        <br>
        <hr>
        <br>
        <div class="info">
            <div class="center clue">
                <div class="clueName">Victim's Diarie</div>
                <div class="clueSummary">We found a dairy in the appartment of the victim. The dairy was burnt but the forensics were able to recover
                    a few of the last pages. Though it seems the victim was too paranoid about his privacy and has wrote in some unreadable form.</div>
                <a href="/key/<%= pageDetails.otherProps.key %>/showClues/diarie">
                    <button class="activeButton">DIARIE</button>
                </a>
            </div>
            <div class="center clue">
                <div class="clueName">Victim's Phone</div>
                <div class="clueSummary">The victim's phone was left his appartment for some reason. It's protected by a pin and the forensics were not able to bypass the lock
                    screen. Though they did somehow find out that the pin is a 8 digit number.
                </div>
                <a href="/key/<%= pageDetails.otherProps.key %>/showClues/phone"">
                    <button class="activeButton">PHONE</button>
                </a>
            </div>
            <div class="center clue">
                <div class="clueName">Victim's Book</div>
                <div class="clueSummary">The victim does not seem to have been a book worm. Though weiredly enough, we found a book on his desk. Our officers though as incapable as they are lost the book. Though we did find a copy of the book online.</div>
                <a href="http://www.planetpdf.com/planetpdf/pdfs/free_ebooks/The_Time_Machine_NT.pdf" target="_blank">
                    <button class="activeButton">THE TIME MACHINE</button>
                </a>
            </div>
        </div>
        <br>
        <br>

        <% include ./partials/footer %>