<% include ./partials/header %>


    <link rel="stylesheet" type="text/css" href="/stylesheets/clues.css">

    <div class="container">
        <div class="spacer"></div>
        <br>
        <a href="/">
            <div class="eventTag primaryHead">Sherlock Holmes</div>
        </a>
        <br>
        <hr>
        <br>
        <div class="info">
            <p class="pageTextLeft">Here are the clues Sherlock,</p>
            <div class="clue">
                asdada
            </div>

        </div>

        <!-- <script type="text/javascript" src="/javascripts/participate.js"></script> -->


        <% include ./partials/footer %>