<% include ./partials/header %>


    <link rel="stylesheet" type="text/css" href="/stylesheets/clues.css">

    <div class="container">
        <div class="spacer"></div>
        <br>
        <a href="/">
            <div class="eventTag primaryHead">Sherlock Holmes</div>
        </a>
        <br>
        <hr>
        <br>
        <div class="info">
            <p class="pageTextLeft">Welcome Sherlock,</p>
            <p class="pageTextLeft">Sherlock, you now are our only hope who can save not only our lives but lives of everyone around.</p>
            <p class="pageTextLeft">We have discovered some clues and we were not able to get anything out of them.</p>
            <p class="pageTextLeft">See if you can use them and get any information.</p>
            <div class="center">
                <a href="/key/<%= pageDetails.otherProps.key %>/showClues">
                    <button class="activeButton">GOTO CLUES</button>
                </a>
            </div>

        </div>

        <!-- <script type="text/javascript" src="/javascripts/participate.js"></script> -->


        <% include ./partials/footer %>