
button{
    font-size: 2em;
    margin: 0 auto;
    padding: 0.3em 1em 0.3em 1em;
    transition: all 0.5s ease-out;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.activeButton{
    color: rgb(101, 110, 238);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(101, 110, 238);
}

.activeButton:hover{
    background-color: rgb(76, 82, 170);
    color: white;;
}


.disableButton{
    color: #777;
    background-color: rgba(100, 100, 100, 0.5);
    border: 1px solid #777;
}

.center{
    text-align: center;
}

.primaryHead{
    font-size: 4em;
}

hr{
    width: 350px;
    border: 1px solid white;
}

.spacer{
    height: 3em;
}

.pageTextLeft{
    text-align: left;
    display: block;
    font-size: 1.5em;
}

.info{
    max-width: 500px;
    margin: 0 auto;
}

.clue {
    max-width: 550px;
    border: 1px white solid;
    padding: 10px;
    margin: 10px;
}

.clueName{
    text-align: center;
    font-size: 2em;
    margin: 10px;
}

.clueSummary{
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 10px;
}