
#textBoxContainer{
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 20px auto;
    overflow: auto;
    height: 200px;
    display: flex;
    padding: 10px;
    flex-direction: column-reverse;
}

#textBox {
    font-family: 'Slabo 27px', serif;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(87, 87, 87, 0.315); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.719);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 38, 255, 0.315); 
}

.typed-cursor {
    opacity: 0;
}

.btn{
    font-size: 2em;
    margin: 0 auto;
    padding: 0.3em 1em 0.3em 1em;
    transition: all 0.5s ease-out;
    letter-spacing: 0.1em;
}

.activeButton{
    color: rgb(101, 110, 238);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(101, 110, 238);
}

.activeButton:hover{
    background-color: rgb(76, 82, 170);
    color: white;;
}

.disableButton{
    color: #777;
    background-color: rgba(100, 100, 100, 0.5);
    border: 1px solid #777;
}

.center{
    width: 100%;
    text-align: center;
}


input{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    height: 40px;
    margin: 0.5em 0 0.5em 0;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border: 1px solid white;
    font-size: 1.1em;
    transition: all 0.25s ease-out;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 0.1em;
    box-sizing : border-box;

}

input:focus{
    background-color: white;
    color: black;
}

.smallForm{
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.error{
    background: rgba(223, 6, 6, 0.8);
    color: white;
    width: 85%;
    transition: all 0.5s ease-out;
    padding: 0.5em;
    margin: 0.5em auto;
    display: none;
}
