<% include ../partials/header %>


    <link rel="stylesheet" type="text/css" href="/stylesheets/into.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/diarie.css">

    <div class="container">
        <div class="eventTag mainEventTag">Sherlock Holmes</div>
        <hr>
        <div class="eventTag secondaryEventTag">Diarie</div>
        <div class="entry">
            <div class="date">12-Mar-2018</div>
            <div class="content">pqmd pumdk,
                <br> uzpqqp uf'e fdgq ftmf fuyq paqez'f suhqe kag qhqdkftuzs, ftuzse iuxx oayq fa kag itqzqhqd ftqk iuxx nq uzfqzpqp
                fa oayq. fuyq bxmke m efdazs daxq uz kagd xurq. u efuxx dqyqynqd ftq pmk itqz yk sdmzpym fmgstf yq ftmf kag
                yazqk omz'f ngk kag mzkftuzs qjoqbf ymfqdumxuefuo ftuzse. uf omz'f ngk kag ftq yaef qjbqzeuhq ftuzs uz ftue
                iadxp. ftqz u mewqp tqd "itmf?". etq dqbxuqp "tmbbuzqee". ngf fapmk ftq emyq cgafq ue ymwuzs yq rqqx pueymkqp.
                xurq bxmke az kag itqz kag mdq rqqxuzs xai. ftmf'e itmf tmbbqzqp iuft yq fapmk. kqe, yazqk omz'f ngk tmbbuzqee
                ngf uf ue zqoqeemdk faa. u my rqqxuzs xai nqomgeq fapmk u zqqp yazqk ftmf omz ngk yq itmf u imzf. sap eayqfuyq
                eqzpe ftq mzsqxe fa tqxb kag mzp ftmf'e mxx u zqqp. tabq fa eqq m saap yadzuzs fayaddai.
            </div>
        </div>
        <div class="entry">
            <div class="date">13-Mar-2018</div>
            <div class="content">
                qrne qvnel,
                <br> zl yvsr nf lbh xabj vf tbvat abjurer naq v’z srq hc. gbqnl nf abezny v gevrq gb svaq n wbo, unq ab yhapu,
                gura pnzr ubzr naq xrcl ylvat ba orq. v qba’g xabj jul v pnaabg svaq nal unccvarff va gur jbeyq nalzber.
                znlor vg’f orpnhfr bs zl fvyrapr be znlor vg’f orpnhfr v qbag unir nal zbarl. nyfb, gbqnl v tbg n grkg sebz
                n ze z, ur fnlf ur pna tvir zr n orggre yvsr. v’z abg fher vs ur jnf oyhssvat, ohg v qb abg jnag gb qb nalguvat
                vyyrtny. nyfb, v nyfr frrz gb or trggvat qvfgnag sebz zl snzvyl naq sevraqf. v qbag xabj gur ynfg gvzr v
                gnyxrq gb nal bs gurz. v qbag xabj ubj zhpu ybatre v pna gnxr guvf. tbbq avtug
            </div>
        </div>
        <div class="entry">
            <div class="date">14-Mar-2018</div>
            <div class="content">rsof rwofm,
                <br> voddm pwfhvrom hc as. hcrom w’a hifbwbu hksbhm cbs obr wbrssr wh'g hvs voddwsgh pwfhvrom ct am zwts gwbqs
                w’js pssb zwjwbu ozcbs. ozawuvhm vog ozfsorm uwjsb as vwg pzsggwbug rom pstcfs msghsfrom pm gsbrwbu vwg obusz
                og af. a. oddofsbhzm, af a wg o qcd obr bssrg am oggwghsbqs wb slqvobus tcf acbsm. w oa asshwbu vwa hcacffck
                obr vcdstizzm vs kwzz zsor as hc o voddm zwts. hcacffck cbkofrg ozz am dfcpzsag kwzz rwgoddsof obr w'zz ps
                ouowb voddm og sofzwsf. ucr pzsgg obr voddm pwfhvrom hc as.
            </div>
        </div>
        <div class="entry">
            <div class="date">15-Mar-2018</div>
            <div class="content">stpg sxpgn,
                <br> x iwxcz x sxs hdbtiwxcv itggxqat pcs peepgtcian x rpccdi lgxit xi sdlc ph bpn tcspcvtg axkth du bpcn. bg.
                b sdth cdi httb id qt iwt etghdc wt idas bt wt lph. x pb hrpgts.
            </div>
        </div>
        <br>
        <br>
        <div class="centered">
            <a href="/key/<%= pageDetails.otherProps.key %>/showClues">
                <span class="activeButton btn">GO BACK</span>
            </a>
        </div>
        <br>
        <br>
    </div>

    <% include ../partials/footer %>