<% include ../partials/header %>


    <link rel="stylesheet" type="text/css" href="/stylesheets/into.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/diarie.css">

    <div class="container">
        <div class="eventTag mainEventTag">Sherlock Holmes</div>
        <hr>
        <div class="eventTag secondaryEventTag">Diarie</div>
        <div class="entry">
            <div class="date">12-Mar-2018</div>
            <div class="content">pqmd pumdk,
                <br> uzpqqp uf'e fdgq ftmf fuyq paqez'f suhqe kag qhqdkftuzs, ftuzse iuxx oayq fa kag itqzqhqd ftqk iuxx nq uzfqzpqp
                fa oayq. fuyq bxmke m efdazs daxq uz kagd xurq. u efuxx dqyqynqd ftq pmk itqz yk sdmzpym fmgstf yq ftmf kag
                yazqk omz'f ngk kag mzkftuzs qjoqbf ymfqdumxuefuo ftuzse. uf omz'f ngk kag ftq yaef qjbqzeuhq ftuzs uz ftue
                iadxp. ftqz u mewqp tqd "itmf?". etq dqbxuqp "tmbbuzqee". ngf fapmk ftq emyq cgafq ue ymwuzs yq rqqx pueymkqp.
                xurq bxmke az kag itqz kag mdq rqqxuzs xai. ftmf'e itmf tmbbqzqp iuft yq fapmk. kqe, yazqk omz'f ngk tmbbuzqee
                ngf uf ue zqoqeemdk faa. u my rqqxuzs xai nqomgeq fapmk u zqqp yazqk ftmf omz ngk yq itmf u imzf. sap eayqfuyq
                eqzpe ftq mzsqxe fa tqxb kag mzp ftmf'e mxx u zqqp. tabq fa eqq m saap yadzuzs fayaddai.
            </div>
        </div>
        <div class="entry">
            <div class="date">13-Mar-2018</div>
            <div class="content">qrne qvnel,
                <br> gbqnl, v nz whzcvat bhg bs wbl, srryvat ng pybhq avar, unccl nf n pynz. lrf, uhaqerqf bs jbeqf ner yrff
                gb rkcerff zl srryvatf. tbq vf gurer. ur vf gurer gb uryc lbh jurarire lbh ner va arrq. zl qrne cebsrfbe
                wnzrf zbevnegl, ur cebbirq gb zr gbqnl gung ur vf zl sevraq va arrq. jr jrer abg va pbagnpg fvapr ybat gvzr,
                znl or qhr gb uvf ohfl fpurqhyr naq zvar gbb. ur vf n irel funec zvaqrq thl naq qrsvangryl zber vagryyvtrag
                guna gur tebhc thlf. v nz fbb erwbvprq gbqnl gung v pna'g rkcerff zl wbl va srj yvarf bs guvf rapbqrq grkg.
                guvf whfg znqr zl qnl naq vg jnf n cyrnfnag tvsg ol uvz. gunax lbh tbq sbe tvivat fhpu zntanavzbhf perngherf
                "sevraqf" ba guvf cynarg rnegu. xrrc zr nyjnlf cebfcrevat naq oyrff gung tbbq fbhy. tbbq avtug
            </div>
        </div>
        <div class="entry">
            <div class="date">14-Mar-2018</div>
            <div class="content">rsof rwofm,
                <br> voddm pwfhvrom hc as. hcrom w’a hifbwbu hksbhm cbs obr wbrssr wh'g hvs voddwsgh pwfhvrom ct am zwts gwbqs
                w’js pssb zwjwbu ozcbs. ozawuvhm vog ozfsorm uwjsb as vwg pzsggwbug rom pstcfs msghsfrom pm gsbrwbu vwg obusz
                og af. acfwofhm. vcds w qcizr assh vwa hcrom pih ris hc vwg dfwcf sbuousasbhg ks vojs rsqwrsr hc assh hcacffck
                oh am fsgwrsbqs. ks kwzz vojs pssfg, psst obr pfsor ozz qccysr pm as hvciuv. hvsb hcacffck cbkofrg ozz am
                dfcpzsag kwzz rwgoddsof obr w'zz ps ouowb voddm og sofzwsf. ucr pzsgg obr voddm pwfhvrom hc as.
            </div>
        </div>
        <div class="entry">
            <div class="date">15-Mar-2018</div>
            <div class="content">stpg sxpgn,
                <br> sdci' zcdl lwn bn tmrxitbtci id btti bn ugxtcs xh cdi pi iwpi etpz ph xi lph tpgaxtg. bpn qt x pb ixgts
                dg lpci id hatte. qji bn wtpgi qtpih pgt cdi vxkxcv hdbt vdds hxvch. x pb ctgkdjh pcs uttaxcv ph xu hdbtiwxcv
                qps xh vdccp id wpetc. x iwxcz x hwdjas hatte pcs ipzt hdbt gthi ph x wpkt id egtepgt udg iwt ajcrw lxiw
                bn ugxtcs. pcs x lxaa bpzt hjgt iwpi wt lxaa utta axzt wdbt.dw, x udgvdi id itaa ndj iwpi idspn x wps p ewdct
                rpaa lxiw wxb pcs idas wxb iwpi lwn x cttsts bdctn. vdds cxvwi.
            </div>
        </div>
        <br>
        <br>
        <div class="centered">
            <a href="/key/<%= pageDetails.otherProps.key %>/showClues"><span class="activeButton btn">GO BACK</span></a>
        </div>
        <br>
        <br>
    </div>

    <% include ../partials/footer %>